
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   margin: 0;
   overflow: hidden;

   background: #2b87d1;
   font-family: 'Roboto';
   color: white;
   cursor: pointer;
}
img {
   height: 14vh;
   position: absolute;
   top: 25vh;

   animation: blink 1s infinite alternate;
}
#header {
   margin: 0;
   font-size: 4.7em;
   font-weight: 400;
   max-width: 90%;
   white-space: nowrap;
}
#text1 {
   position: absolute;
   bottom: 39vh;
   text-align: center;
   margin: 0;
   max-width: 90%;
   font-size: 1.5em;
}
#text2 {
   position: absolute;
   bottom: 35vh;
   text-align: center;
   margin: 0;
   max-width: 90%;
   font-size: 1.5em;
}
#dots {
   position: absolute;
   top: 15vh;
   font-size: 6em;
   font-weight: 900;
}

.blue {
   background: #2b87d1;
}
.red {
   background: #ce2636;
}
.green {
   background: #4bdb6a;
}

@keyframes blink {
   0% {
      opacity: 0.4;
   }
   100% {
      opacity: 1;
   }
}
@media (max-width: 480px) {
   img {
      height: 10vh;
      top: 30vh;
   }
   #dots {
      top: 29vh;
      font-size: 3.5em;
   }
   #header {
      font-size: 2.4em;
      white-space: normal;
      text-align: center;
   }
   #text1 {
      bottom: 39vh;
      font-size: 1.08em;
   }
   #text2 {
      bottom: 35vh;
      font-size: 1.08em;
   }
}